<div class="topnav" [hidden]="hide" >
  <a href="/" class="active">HOME</a>
  <a routerLink="/" (click)="onclick()" >Login</a>
  <a routerLink="/" (click)="onclick()" >Register</a>
  <a routerLink="/" (click)="test()" >Alert TEST</a>
  <a routerLink="/" (click)="update()" >Update Body</a>
</div>
<header>
  <div class="imgcontainer">
    <img style="left: 0; float: left; height: 100px; width: 100%" src="/assets/images/a.jpg" />
  </div>
</header>

<nav class="main-menu">
  <ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed finibus ligula. Curabitur faucibus augue eu luctus lobortis. Aliquam pulvinar egestas scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas sollicitudin risus laoreet turpis consequat aliquam. Integer egestas sapien porta sapien consequat faucibus. Morbi non tortor turpis. Integer et massa placerat, elementum ipsum nec, dignissim lacus. Nulla aliquet massa eu massa elementum posuere.
    </p>

  </ul>
</nav>

<div class="sbody">
  <p id="id">Body TEST</p>
</div>


<footer>
  <div class="footer-bottom">
    <p>copyright &copy;2022 <a href="#">Jianjun Guo</a>&nbsp;&nbsp;</p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">GitHub</a></li>
      </ul>
    </div>
  </div>

</footer>
<router-outlet></router-outlet>
